/* Write your code here. */
.main-container {
  background-color: #0f172a;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2px;
}
h1 {
  color: white;
}

@media (max-width: 576px) {
  img {
    height: 150px;
    width: 150px;
  }
}
@media (min-width: 578px) {
  img {
    height: 300px;
    width: 300px;
  }
}
